replicaCount: 1

image:
  repository: githooks-worker
  tag: "latest"
  pullPolicy: IfNotPresent

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

webhook:
  githubSecret: ""

extraEnv: []

extraConfigMapName: ""
extraSecretName: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80

pdb:
  enabled: false
  minAvailable: 1
  maxUnavailable: ""

configYaml: |-
  watermill:
    driver: gochannel
