name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push githooks image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          target: githooks
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/yindia/githooks:${{ github.ref_name }}
            ghcr.io/yindia/githooks:latest
